.page-headbar{
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgba(122, 0, 0, 0);
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    margin: 0%;
}

h2 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.primaryheader {
    /* background-color: ; */
    background-image: linear-gradient(rgb(122, 0, 0), #2c2f33);
}

.primaryheader h1 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 0%;
    margin-bottom: 0%;
}

.secondheader{
    background-color:aqua
}




/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    background-color: #2c2f33;
    transition: background-color 0.1s
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .page-headbar + .content {
    padding-top: 102px;
  }